
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  background: #f8f8f8;
  border-collapse: collapse;
  text-align: center;
  margin: auto;
}

.container {
  max-width: 70%;
  width: 70%;
  margin: auto;
}

