.login_page {
  height: 90vh;
}
.logo_container {
  display: inline-block;
  position: relative;
  top: -50px;
  padding: 5%;
  height: 100%;
  width: 45%;
  background: url('../assets/human1.png') 100% 100% no-repeat;
}

.login__container {
  display: inline-block;
  position: relative;
  background: rgb(245, 245, 245);
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  top: -300px;
  right: -100px;
  width: 25%;
}
